.navbar-container {
  /* background-color: #141414; */
  background-color: #c0c0c0;
  opacity: 86%;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  padding: 2% 20px;
  height: 75px;
  font-family: "Quicksand", sans-serif;
}

.nav-image {
  height: 100px;
  width: 10%;
}

ul {
  width: 15%;
}

li {
  display: inline-block;
  list-style: none;
  padding: 0px 5%;
}

li,
a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
}
